html
    head
        title Scorll
        - if (release)
            link(rel="stylesheet", rel="stylesheet", href="/release/#{revision}/dijit/themes/claro/claro.css")
        - else
            link(rel="stylesheet", rel="stylesheet", href="/dijit/themes/claro/claro.css")
        link(type="text/css", rel="stylesheet", href="/css/main.css") 
        link(type="text/css", rel="stylesheet", href="/css/stage.css") 
        script(type="text/javascript", language="javascript")
          // <![CDATA[
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-24385457-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
          // ]]>
    body.claro
        div#stage-container
            h1#title Loading...
            div#stage
            div
                div#newAssetButton(dojoType="dijit.form.Button") Add New Asset
                div#pasteAssetButton(dojoType="dijit.form.Button") Paste
        - if (release)
            script(src="/release/#{revision}/dojo/dojo.js", type="text/javascript", djConfig="parseOnLoad: true")
            script(src="/release/#{revision}/dojo/scorll.js", type="text/javascript", djConfig="parseOnLoad: true")
        - else
            script(src="/dojo/dojo.js", type="text/javascript", djConfig="parseOnLoad: true")
        script(src="/socket.io/socket.io.js")
        script(type="text/javascript", language="javascript")
            // <![CDATA[
            dojo.require("dojo.dnd.Source");

            dojo.require("scorll.content.Content");
            dojo.require("scorll.net.Client");
            dojo.require("scorll.net.User");
            dojo.require("scorll.stage.Stage");
            dojo.require("scorll.asset.NewAssetForm");
            dojo.addOnLoad(
                function() {
                    var clientArgs = {
                        groupId: '#{contentId}'
                    };
                    var contentArgs = {
                        id: '#{contentId}'
                    };
                    var args = {
                        client: new scorll.net.Client(clientArgs),
                        user: new scorll.net.User(),
                        content: new scorll.content.Content(contentArgs),
                        requireLogin: false,
                    };
                    var stage = new scorll.stage.Stage(args);
                    var newAssetButon = dijit.byId("newAssetButton");
                    dojo.connect(newAssetButon, "onClick", function() {
                        var newAssetButton = this;
                        dojo.fadeOut({node: newAssetButton.domNode}).play();
                        var form = new scorll.asset.NewAssetForm(
                          {stage: stage});
                        form.placeAt(dojo.byId("stage"));
                        dojo.connect(form, "onSubmit", function() {
                          dojo.fadeIn({node: newAssetButton.domNode}).play();
                          form.destroyRecursive();
                        });
                        dojo.connect(form, "onCancel", function() {
                          dojo.fadeIn({node: newAssetButton.domNode}).play();
                          form.destroyRecursive();
                        });
                    });
                    var pasteAssetButon = dijit.byId("pasteAssetButton");
                    dojo.connect(pasteAssetButon, "onClick", function() {
                        stage.paste();
                    });
                }
            );
            // ]]>
